*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0F103F;
  --main-font: "Poppins";
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font);
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.nav > ul > li {
  list-style: none;
}

.nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.saturn {
  position: absolute;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  color: white;
  height: auto;
  margin-top: 7rem;
  justify-content: center;
  position: relative;
 
}

.hero-wrapper {
  max-width: 850px;
  margin: 0 auto;
}


.hero > .hero-wrapper > h1 {
  font-size: 60px;
  line-height: 1.2;


}

.yupiter {
  position: absolute;
  top: -10rem;
  right: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  z-index: 2;
  font-family: var(--main-font);
  font-size: 17px;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  background: linear-gradient(124deg,rgba(201, 97, 222, 1) 40%, rgba(41, 84, 163, 1) 100%);
  text-decoration: none;
}

.github {
  background: linear-gradient(124deg, rgb(12, 65, 139) 60%, rgb(35, 99, 209) 100%);
}

/* ABOUT */

.about-i {
  position: relative;
}

.about {
  width: 630px;
  height: 630px;
  background: linear-gradient(124deg,rgba(201, 97, 222, 1) 20%, rgba(41, 84, 163, 1) 100%);
  margin: 0 auto;
  z-index: inherit;
  display: flex;
  justify-content: start;
  margin-top: 15rem;
  border-radius: 60%;
  overflow: hidden;

}

.about-back {
  position: absolute;
  top: -10rem;
  left: 8rem;
  z-index: -1;
}

.diamond {
  
    position: absolute;
    top: 20rem;
    left: 56rem;
    z-index: 2;
  
}

.about > svg {
 width: 200%;
  padding-right: 10rem;
}

