*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0F103F;
  --main-font: "Poppins";
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font);
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.nav > ul > li {
  list-style: none;
}

.nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.saturn {
  position: absolute;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  color: white;
  height: auto;
  margin-top: 7rem;
  justify-content: center;
  position: relative;
 
}

.hero-wrapper {
  max-width: 850px;
  margin: 0 auto;
}


.hero > .hero-wrapper > h1 {
  font-size: 60px;
  line-height: 1.2;


}

.yupiter {
  position: absolute;
  top: -10rem;
  right: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  z-index: 2;
  font-family: var(--main-font);
  font-size: 17px;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  background: linear-gradient(124deg,rgba(201, 97, 222, 1) 40%, rgba(41, 84, 163, 1) 100%);
  text-decoration: none;
}

.github {
  background: linear-gradient(124deg, rgb(12, 65, 139) 60%, rgb(35, 99, 209) 100%);
}

/* ABOUT */

.about-i {
  position: relative;
  width: 100%;
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
}

.about-i > h2 {
    font-weight: bold;
    margin-top: 32rem;
    z-index: 2;
    font-size: 2rem;
     color: white;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 25rem;
}

.card1 {
  z-index: 1;
  margin-left: 3rem;
  position: relative;
}

.sreen {
  position: absolute;
  width: 19rem;
  left: 2rem;
  top: 2rem;
  z-index: 2;
  border-radius: 10px;
}

.card1 > h2 {
  position: absolute;
  top: 14.5rem;
  left: 7rem;
  color: white;
}

.card2 {
  position: absolute;
  z-index: 2;
}

.card3 {
  margin-top: 3rem;
}
